/** IE6 is a hunk of crap!!! due to limitations in the CSS capabilities of IE, these hacks are required **/
body.ie-please-wait {background:#000 url(images/ie_loading.png) 50% 300px no-repeat;}

/* font tweaking */
#ff-optima h1, #ff-optima h2, #ff-optima h3, #ff-optima h4, #ff-optima h5, #ff-optima h6, #ff-lucida h1, #ff-lucida h2, #ff-lucida h3, #ff-lucida h4, #ff-lucida h5, #ff-lucida h6 {letter-spacing: -0.07em;}
body#ff-optima, body#ff-lucida {letter-spacing: -0.05em;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 12px;}

/* horizmenu */
#horiz-menu {position:relative;z-index:140;float:right;}
#horiz-menu li .link span, #horiz-menu li, #horiz-menu li.active, #horiz-menu li.sfHover, .menutop .animated-bg {display:inline-block;}
#horiz-menu li.parent-sfHover, .menutop .drop-wrap {z-index:800 !important;}
.menutop .submenu-animation-left {position: relative;}
.menutop .submenu-animation-right {float: left;position:absolute;left:0;top:0;padding-right:8px;}

/* side modules */
.module-header, .module-header2, .module-header3 {zoom: 1;position: relative;margin: 0;}
.module-header {margin-left: 5px;}
.module-header2 {margin-left: -10px; margin-right: -10px;float: left;}
.module-header3 {float:left;}

/* main layout */
#body-left, #header-bar, #top-bar, #botbar, ul.menutop, #showcase3, #showcase4, #bottom, #bottom2, #bottom3, #bottom4, #mainmodules4, #footer, #footer2, #footer3, #footerbar2, #footerbar3, #bottom-menu, #leftcol, #leftcol-bg, #rightcol, #maincol, #maincol2, #main-body, .side-mod, #breadcrumbs, #breadcrumbs-home, .breadcrumbs, .pathway, ul.menu, .module, #showmodules, #maincontent-block, #mainmodules, #mainmodules2, #mainmodules3, #mainmodule4, #bottom-main, #inset-block-left, #inset-block-right, #inset-block-right .right-padding, #inset-block-left .left-padding, #main-content, #main-content-block, .wrapper, .component-header, .feature-module, .article-info-surround, .article-info-surround2, .roktabs-wrapper, ul.bullet-3 li, #bottom ul li a, .topbar-strip {zoom: 1;}
#main-background {position: relative;}
#inset-block-right {margin-left:0px;}
#inset-block-left {margin-right:0px;}
#header-bar {width: 96.9%;}
.readon-wrap1 span {display:inline-block;line-height: 26px;}
.readon-wrap1 {padding-left:7px;}
.readon-wrap1, a.readon-main,.readon1-m,.readon1-r {position:relative;}

.dark hr {height: 1px;border-style: solid;border-width: 1px 0 0 0;border-color: #222;}
.light hr {height: 1px;border-style: solid;border-width: 1px 0 0 0;border-color: #ddd;}

div.important, div.important-red, div.important-blue, div.important-green, div.important-purple, div.important-brown,, div.important-orange, div.important-grey {zoom:1;}

#main-content-surround {zoom: 1;}
.showcase-surround {zoom: 1;}
.article_row {zoom: 1;}
.cols1 {display: block !important;width: 100%;}
.article_column {position: relative;}
.cols2 {width: 49%;overflow: hidden;}
h1.componentheading {width:auto;}
#breadcrumbs-home {margin-right: -3px;}

form.search_result button.button {padding-top: 0;line-height: 130%;}
form.search_result fieldset.word label {line-height: 22px;}
#searchmod-surround .inputbox {padding-top: 4px;line-height: 18px;height: 22px;}
input.button {padding-top: 3px;line-height: 26px;}

form.form-login input.button, form.log input.button {line-height: 18px;}
form.form-login .inputbox {line-height: 16px;}

/* rok stories */
#featuremodules {zoom: 1;}
.feature-block {zoom: 1;}
.feature-module .image-container {position: relative;}

#header-overlay {position: relative;z-index: 30;}
#showcase-section {z-index: 1;}

/* rok newspager */
.roknewspager-pages {zoom: 1;}
.roknewspager-numbers {display: inline;width:78%;}
.roknewspager-prev, .roknewspager-next, .roknewspager-prev-disabled, .roknewspager-next-disabled {margin-top: 1px; zoom: 1;}
#newsflash .control-next {background-position: 0 -20px;}
.dark .roknewspager-prev-disabled {background: url(images/main/dark/newspager-controls.png) 0 0 no-repeat;}
.dark .roknewspager-next-disabled {background: url(images/main/dark/newspager-controls.png) 0 -90px no-repeat;}
.light .roknewspager-prev-disabled {background: url(images/main/light/newspager-controls.png) 0 0px no-repeat;}
.light .roknewspager-next-disabled {background: url(images/main/light/newspager-controls.png) 0 -90px no-repeat;}

/* rok tabs */
.roktabs-wrapper {width:auto;}

/* JWSuperBlogger */
div.articleListingImage img {margin:2px 8px 8px 0;float:left;zoom:1;position:relative;}

/* rok stock */
#rokstock {zoom: 1;}
#rokstock .rokstock-graph {width: 230px !important;overflow:hidden !important;}
#rokstock .legend {margin-right: 1px;}

/* rok twittie */
body.dark #roktwittie ul.subscribe {background: none;}
.dark #roktwittie .roktwittie-t1,.dark #roktwittie .roktwittie-t2,.dark #roktwittie .roktwittie-t3,.dark #roktwittie .roktwittie-m1,.dark #roktwittie .roktwittie-m2,.dark #roktwittie .roktwittie-m3, .dark #roktwittie .roktwittie-b1,.dark #roktwittie .roktwittie-b2,.dark #roktwittie .roktwittie-b3 { background:none;}
body.dark #roktwittie .roktwittie-surround {background:url(images/main/dark/sidemod-bg.png);}
body.light #roktwittie ul.subscribe {background: none;}
.light #roktwittie .roktwittie-t1,.light #roktwittie .roktwittie-t2,.light #roktwittie .roktwittie-t3,.light #roktwittie .roktwittie-m1,.light #roktwittie .roktwittie-m2,.light #roktwittie .roktwittie-m3, .light #roktwittie .roktwittie-b1,.light #roktwittie .roktwittie-b2,.light #roktwittie .roktwittie-b3 { background:none;}
body.light #roktwittie .roktwittie-surround {background:url(images/main/light/sidemod-bg.png);}
#roktwittie .roktwittie-surround {padding-left: 0;}
#main-background .sbAuthorLatestTweets {width:49%;}

/* rokfonts */
h3.module-title span {display:inline;}

/* rok module fixes */
#roksearch_results .roksearch_even {zoom:1;}
#roksearch_results .container-wrapper {position:relative;zoom:1;width:400px;}
#roksearch_results .container-scroller {position:relative;zoom:1;}
#roksearch_results .container-scroller .page .roksearch_odd, #roksearch_results .container-scroller .page .roksearch_even {zoom:1;z-index:1000;}
#roksearch_results .container-scroller span.small { bottom:6px;right:10px}
.roktabs-wrapper .roktabs-links ul li {white-space: nowrap;}
.roktabs-wrapper .arrow-prev {background-position: 0 0;}
.roktabs-wrapper .roktabs-links ul li {line-height: 40px;}

/* ie6 warning */
#iewarn {background: #C6D3DA url(images/error.png) 10px 20px no-repeat;position: relative;z-index: 1;opacity: 0;margin: -150px auto 0;font-size: 110%;color: #001D29;z-index: 8000;}
#iewarn div {position: relative;border-top: 5px solid #95B8C9;border-bottom: 5px solid #95B8C9;padding: 10px 80px 10px 220px;}
#iewarn h4 {color: #900;font-weight: bold;line-height: 120%;}
#iewarn a {color: #296AC6;font-weight: bold;}
#iewarn_close {background: url(images/close.png) 50% 50% no-repeat;display: block;cursor: pointer;position: absolute;width: 61px;height: 21px;top: 25px;right: 12px;}
#iewarn_close.cHover {background: url(images/close_hover.png) 50% 50% no-repeat;}

/* page peel overrides for demo site */
a.fliptip {display: block;z-index: 100000;position: relative;}